<div class="well" id="video-playback">
  <p>Click a video name to begin playing; it will appear here when clicked.</p>
</div>

<table class="table table-striped">
  <tr>
    <td>Module #</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <%= render @videos %>
</table>
