<div class="well" id="presentation-view">
  <p>Click a presentation to watch; it will appear here when clicked.</p>
</div>

<table class="table table-striped">
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <%= render @presentations %>
</table>
