<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2>Welcome!</h2>
  <p>This site contains a ton of resources. It is home to the <i>Dental
    Injury and Prevention Program (DRIPP)</i> as well as <i>Epidural Procedures</i>
  an instructional series on epidurals. There are also many documents
  you will find useful</p>
  <p>
  <a class="btn btn-lg btn-primary" href="<%= documents_path%>" role="button">Documents &raquo;</a>
  <a class="btn btn-lg btn-success" href="<%= videos_path%>" role="button">Instructional videos &raquo;</a>
  </p>
</div>
