<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2>Welcome!</h2>
  <p>This site contains academic resources on the topics of Obstetric Anesthesia and Prevention of Dental Injury under Anesthesia by Dr. Manuel C. Vallejo M.D. D.M.D.</p>
  <a class="btn btn-lg btn-primary" href="<%= documents_path%>" role="button">Documents &raquo;</a>
  <a class="btn btn-lg btn-success" href="<%= videos_path%>" role="button">Instructional videos &raquo;</a>
  <a class="btn btn-lg btn-danger" href="<%= presentations_path%>" role="button">Presentations &raquo;</a>
  </p>
</div>
