<div class="well">
  <p>All documents open in a new tab.</p>
</div>

<table class="table table-striped">
  <tr>
    <td>#</td>
    <td>Name</td>
    <td>Description</td>
  </tr>
  <%= render @documents %>
</table>
